<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
	    <h1>Bastet</h1>
        <br />
	    <section>
	        On this page we need:
	        <ul>
	            <li>Login Form</li>
	            <li>Links to help pages (particularly tutorials on how to do common tasks)</li>
	            <li>Basic house status overview (this should dominate the screen)</li>
                <li>Settings link (when logged in)</li>
	        </ul>
	    </section>
	</body>
</html>