<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>Bastet</title>
</head>
<body>
    <h1>Welcome To Bastet</h1>
    <br />
    <section>
        On this page we need:
        <ol>
            <li>Configuration of admin username and password <b>@Model.SetAdminPassword</b></li>
            <li>Configuration of non admin user/password <b>@Model.CreateUserAccount</b></li>
            <li>Initial setup of devices (scan local network for coap/other devices?) <b>@Model.AddedFirstDevice</b></li>
            <li>Commit button, which saves all changes and reloads the page</li>
        </ol>
    </section>
</body>
</html>