<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <title>Bastet</title>
    </head>
    <body>
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome To Bastet</h1>                
            </div>
            <section>
                On this page we need:
                <ol>
                    <li>Configuration of admin username and password <b>@Model.SetAdminPassword</b></li>
                    <li>Configuration of non admin user/password <b>@Model.CreateUserAccount</b></li>
                    <li>Initial setup of devices (scan local network for coap/other devices?) <b>@Model.AddedFirstDevice</b></li>
                    <li>Delete admin session keys</li>
                </ol>
            </section>
        </div>
        <div class="row">
            @If.Section1
            <div class="col-md-6">
                <h3>Configure admin password</h3>
                <form id="submit-admin">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <input type="submit" class="btn btn-default" value="submit" />
                </form>
            </div>
            <script>
                $(function () {
                    $("#submit-admin").submit(function (event) {
                        event.preventDefault();
                        $.ajax({
                            url: "/api/users/Administrator?SessionKey=@Model.AdministratorSession",
                            type: "PATCH",
                            data: JSON.stringify({
                                Password: $("#password").val()
                            }),
                            success: function() {
                                window.location.reload();
                            },
                            error: function (error) {
                                console.log(error);
                            },
                        });
                    });
                });
            </script>
            @EndIf
            @If.Section2
            <div class="col-md-6">
                <h3>Configure personal user</h3>
                <form id="submit-user">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="UserName" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="Password" placeholder="Password">
                    </div>
                    <input type="submit" class="btn btn-default" value="submit" />
                </form>
            </div>
            <script>
                $(function () {
                    $("#submit-user").submit(function (event) {
                        event.preventDefault();
                        $.ajax({
                            url: "/api/users?SessionKey=@Model.AdministratorSession",
                            type: "POST",
                            data: $("#submit-user").serialize(),
                            success: function () {
                                window.location.reload();
                            },
                            error: function (error) {
                                console.log(error);
                            },
                        });
                    });
                });
            </script>
            @EndIf
            @If.Section3
            <div class="col-md-6">
                <h3>Add devices</h3>
                <form id="submit-device">
                    <div class="form-group">
                        <label class="sr-only" for="device">Device address</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="url" name="Url" placeholder="device address">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-default" value="submit" />
                </form>
            </div>
            <script>
                $(function () {
                    $("#submit-device").submit(function (event) {
                        event.preventDefault();
                        $.ajax({
                            url: "/api/devices?SessionKey=@Model.AdministratorSession",
                            type: "POST",
                            data: $("#submit-device").serialize(),
                            success: function () {
                                window.location.reload();
                            },
                            error: function (error) {
                                console.log(error);
                            },
                        });
                    });
                });
            </Script>
            @EndIf
        </div>
    </body>
</html>